main{
  width: 70%;
  margin: 0 auto;
  background-color: aquamarine;
}
h1{
  text-transform: uppercase;
}
#allBox{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  margin: 0 auto;
}
.oneBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
}
.modal{
  width: 100%;
  height: 100%;
  display: none;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}
.modalWindow{
  position: absolute;
  top: 40%;
  left: 45%;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;
}